.-actiontray-actions {
  color: #000;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  padding: 15px;
  background: #FFC477;
  cursor: pointer;
}
.-actiontray-actions:hover {
  color: rgb(21, 21, 23);
  background: #f1b668;
}
.-actiontray-actions img {
  height: 32px;
  margin-left: 20px;
}
@media (max-width: 525px){
  .-actiontray-actions {
    min-height: 105px;
  }
}
