.info-section h2 {
  color: #fff;
  text-shadow: 0px 0px 10px #ffffffd1;
  font-size: 37px;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 35px;
}
.xniR-wrapper {
  background: #a58459
    radial-gradient(closest-side at 50% 50%, #a58459 0%, #110d09 100%) 0% 0%
    no-repeat padding-box;
}
.xniR-wrapper h2 {
  text-align: center;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  font-size: 37px;
  letter-spacing: 0px;
  color: #ffffff;
  text-shadow: 0px 3px 6px #00000040;
  position: relative;
}
.xniR-wrapper h2:after {
  position: absolute;
  bottom: -27px;
  left: 45%;
  content: "";
  height: 20px;
  width: 100px;
  background-image: url(../images/ellipses.svg);
  background-size: 80% 100%;
  background-repeat: no-repeat;
}
.xniR-wrapper p {
  color: #fff;
  text-align: center;
  letter-spacing: 0;
}
.xniR-wrapper p.info {
  font-weight: 400;
  font-family: "Josefin Slab", sans-serif;
  font-size: 21px;
  line-height: 32px;
  margin-bottom: 50px;
}
.xniR-wrapper p.info.primary {
  color: #ffc477;
}
.xniR-wrapper p.notice {
  font-size: 19px;
  line-height: 25px;
  font-style: italic;
  font-family: "Gentium Basic", serif;
  font-weight: normal;
  margin-bottom: 40px;
}
.xniR-card {
  background: transparent;
  box-shadow: 0px 0px 10px #ffc47780;
  border: 1px solid #ffc477;
  position: relative;
  z-index: 1;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}
.xniR-card + .xniR-card {
  margin-top: 40px;
}
.xniR-card p {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  line-height: 37px;
  font-family: "Josefin Slab", sans-serif;
  letter-spacing: 0px;
  color: #ffc477;
}
.community-knlD-wrapper {
  width: 100%;
  height: auto;
}
.community-knlD-wrapper .iyuNvH {
  height: 100%;
}
.community-knlD-wrapper .kaIBdz {
  height: 100%;
}
.community-knlD {
  background: #fff7ec 0% 0% no-repeat padding-box;
  padding: 40px;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.community-knlD.kdlY {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 990px) {
  .community-knlD.kdlY {
    width: 88.33333333%;
  }
}
.community-knlD .profile img {
  width: 220px;
  max-width: 100%;
  height: auto;
}
.community-knlD.kdlY .profile img {
  width: 100px;
}
.community-knlD .profile h4 {
  text-align: center;
  font-family: "Gentium Basic", serif;
  font-style: italic;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0px;
  color: #1c160f;
  margin-top: 10px;
}
.community-knlD .profile h4 img {
  width: 24px;
  height: 24px;
}
.community-knlD .details-section {
  margin-top: 25px;
  white-space: normal !important;
}
.community-knlD.kdlY .details-section {
  margin-top: 0;
}
.community-knlD .details-section .menu {
  width: 7px;
  height: 24px;
}
.community-knlD .details-section .full-img {
  width: 100%;
  height: 360px;
}
.community-knlD .details-section h3 {
  text-align: left;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0px;
  color: #1c160f;
}
.community-knlD .details-section .action-btn {
  border: 1px solid #53422d;
  border-radius: 22px;
  padding: 0.2rem 1rem;
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 0px;
  color: #372c1e;
}
.community-knlD .details-section .action-btn img {
  height: auto;
  width: 13px;
  margin-right: 3px;
}
.community-knlD .details-section p {
  word-wrap: break-word;
  text-align: left;
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 0px;
  color: #1c160f;
}
.community-knlD .details-section .special-action-section {
  width: 100%;
  max-width: 300px;
}
@media (max-width: 990px) {
  .community-knlD .details-section {
    white-space: normal !important;
  }
  .community-knlD {
    display: block !important;
    padding: 25px;
  }
  .community-knlD.kdlY {
    display: flex !important;
  }
  .community-knlD .profile img {
    width: 170px;
  }
}
@media (max-width: 770px) {
.community-knlD.kdlY .details-section {
    padding-left: 20px;
  }
}
@media (max-width: 574px) {
  .community-knlD.kdlY .details-section {
    padding-left: 0px;
  }
  .community-knlD.kdlY .details-section {
    margin-top: 25px;
  }
  .community-knlD, .community-knlD.kdlY {
    display: block !important;
    padding: 25px;
  }
}
@media (max-width: 998px) {
  .xniR-wrapper h2:after {
    left: 42%;
  }
}
@media (max-width: 520px) {
  .xniR-wrapper h2:after {
    left: 38%;
  }
}
