.gallery-wrapper .shape-2 {
    position: absolute;
    top: 9%;
    height: 500px;
    opacity: 0.5;
}
.gallery-wrapper .shape-3 {
    position: absolute;
    top: 15%;
    left: -3%;
    height: 500px;
    z-index: -4;
}

.shape-movement {
  animation: shapeMovement 9s infinite;
}
.shape-pulsating {
  animation: shapePulsating 4s infinite;
}

@keyframes shapeMovement {
    0% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(10%);
    }
    60% {
        transform: translateX(0);
    }
    80% {
        transform: translateX(-5%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes shapePulsating {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}