.case {
  margin: 15px;
  width: 100%;
  height: 100%;
  max-height: 480px;
  vertical-align: top;
  backface-visibility: hidden;
}

.showcase .slick-dots {
  bottom: -30px;
}
.showcase .slick-dots li button:before {
  font-size: 17px;
  color: #a58459;
}
.showcase .slick-dots li.slick-active button:before {
  color: #a58459;
}
@media (max-width: 767px) {
  .showcase .slick-dots {
  bottom: -40px;
}
  .showcase .slick-dots li button:before {
  font-size: 13px;
}
}