.showcase-x {
  margin-bottom: 10px;
}
.showcase-x img {
  width: 100%;
  max-height: 400px;
  height: auto;
}
.showcase-x h4 {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  margin-right:auto;
}
.case-icon {
  height: 40px !important;
  width: 16px !important;
}
.showcase-case {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.showcase-case-item:first-child {
  margin-right: auto;
  visibility: hidden;
}
.showcase-case-item:last-child {
  margin-left: auto;
}